In [78]:
import tensorly as tl
import numpy as np
import pandas as pd

In [103]:
lr_tensors = list()
for j in range(10):
    lr_matrices = list()
    for i in range(300):
        lr_matrix = np.random.random((12, 12))
        if j in (2,3, 4):
            lr_matrix[:,1] = float('nan')
            lr_matrix[1,:] = float('nan')
        if j in (5,6):
            lr_matrix[:,2] = float('nan')
            lr_matrix[2,:] = float('nan')
        lr_matrices.append(lr_matrix)
    lr_tensor = np.dstack(lr_matrices)
    lr_tensors.append(lr_tensor)

tensor = tl.tensor(np.dstack(lr_tensors).reshape(12,12,300,10))

In [104]:
# sparsity
np.count_nonzero(np.isnan(tensor))*100/np.prod(tensor.shape)

7.986111111111111

In [105]:
lr_tensors = list()
for j in range(4):
    lr_matrices = list()
    for i in range(6):
        lr_matrix = np.random.random((5,5))
        if j in (2,3):
            lr_matrix[:,1] = float('nan')
            lr_matrix[1,:] = float('nan')
        lr_matrices.append(lr_matrix)
    lr_tensor = np.dstack(lr_matrices)
    lr_tensors.append(lr_tensor)

tensor = tl.tensor(np.dstack(lr_tensors).reshape(5,5,6,4)) # cell, cell, lr, context

In [106]:
tensor[:,:,3, 1]

array([[0.44928248,        nan, 0.12676022, 0.26433675, 0.92955141],
       [       nan,        nan,        nan,        nan,        nan],
       [0.67109392,        nan, 0.7961454 , 0.19290011, 0.61860081],
       [0.41656126,        nan, 0.95260541, 0.95871064, 0.90533308],
       [0.84188888,        nan, 0.77903545, 0.89278893, 0.17552788]])

In [107]:
pd.DataFrame(tl.unfold(tensor, 0))

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
0,0.822280,0.396585,0.970419,0.326792,0.260957,0.083395,0.889575,0.942277,0.963725,0.960791,...,0.394987,0.424688,0.033930,0.604559,0.223619,0.775315,0.995307,0.532850,0.613167,0.371498
1,0.420546,0.854410,0.696422,0.944746,0.249160,0.203903,0.837450,0.719451,0.623552,0.866296,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.343344,0.885640,0.648974,0.298720,0.379429,0.901073,0.394330,0.386044,0.605682,0.552181,...,0.933912,0.887703,0.264614,0.416803,0.589043,0.084792,0.180340,0.499884,0.345769,0.694903
3,0.950504,0.816870,0.049648,0.415993,0.457761,0.540798,0.901864,0.275921,0.026158,0.592934,...,0.934982,0.641064,0.090870,0.402562,0.873955,0.587538,0.477981,0.356085,0.369001,0.528318
4,0.405987,0.186135,0.642728,0.198407,0.999705,0.669987,0.607657,0.608409,0.622703,0.847162,...,0.178211,0.555559,0.150183,0.809791,0.903858,0.302709,0.507767,0.065561,0.809121,0.519378